# Milestone 2: Insight Of Data And Feasibility Check Of Our Idea

<hr style="clear:both">

This notebook traces our journey through the feasibility check of our idea : Checking trends in music composition for the movie industry.

DONT FORGET TO DELETE:
**Guidline for us (to delete when submit the milestone):**
This notebook will present the journey of the group through the data analysis. We show that we :
- can handle the data in its size.
- understand what’s in the data giving the formats, distributions, missing values, correlations, and so on.
- considered ways to enrich, filter, transform the data according to our needs.
- have a reasonable plan and ideas for methods we’re going to use, giving their essential mathematical details in the notebook.
- have a plan for analysis and its communication is reasonable and sound, potentially discussing alternatives to our choices that we considered but dropped.

**Project Mentor:** [Aoxiang Fan](https://people.epfl.ch/aoxiang.fan) ([Email](mailto:aoxiang.fan@epfl.ch))
**Authors:** [Luca Carroz](https://people.epfl.ch/emilie.carroz), [David Schroeter](https://people.epfl.ch/david.schroeter), [Xavier Ogay](https://people.epfl.ch/xavier.ogay), [Joris Monnet](https://people.epfl.ch/joris.monnet), [Paulo Ribeiro de Carvalho](https://people.epfl.ch/paulo.ribeirodecarvalho)

<hr style="clear:both">

## Storyline

**Title : Helping Stanislas to achieve his dream !**

A 20-year-old aspiring musician, Stanislas, fueled by a passion for the film industry, embarks on a quest to launch his career. His ultimate dream? To hear one of his productions featured in a Hollywood film and become one of the planet's top composers. To increase his chances, he turns to a team of Data Scientists known as LSD.

The LSD team's mission is to identify trends shared among successful music composers and compositions, ultimately optimizing choices for our young musician. This is not an easy task but the team is driven by the wish of helping Stanislas. How could they provoke a cascADA of successful choices


The storyline focuses on American movies and Successful composers (successful meaning those who have produced soundtracks for high-grossing films, music appearing in more than ?? films, etc.)

## Needed data

To help Stanislas with his dream, we will need some specific information about each analysed movie. To support our final answer concerning potential trends in composer for movie industry, we will analyse few questions :
1) Which are the most frequent music genre appearing in movies ?
2) What is the average composer's age at their first movie appearance ?
3) Where do composers come from ?
4) Does composer's gender matter ?
5) Does personal website is preferred ?
6) What is the expected **fame** to appear in a movie ? (Challenging : **fame** can be quantified with the amount of streams or CD selling for older compositors.)

List of needed information about movie's composer :
- Name
- Birthday
- Gender
- Homepage
- Place of birth
- First appearance in movie

## Import

In [1]:
# Import all needed libraries
from helpers import *

# Load autoreload extension
%load_ext autoreload

# Set autoreload mode
%autoreload 2

## Load Data

Only `movie.metadata.tsv` is loaded, since others data sets are not relevant for our data analysis.

Note that no header are given in the raw data sets. We then looked at the documentation and set these headers with meaningful names. Please, find the documentation of data set [here](http://www.cs.cmu.edu/~ark/personas/).

In [2]:
# Please be sure your data is store in the same path
data_path = 'dataset/MovieSummaries/movie.metadata.tsv'

# Load the text file into Pandas DataFrame
movie = load_movies(data_path)

# Display the dataframe
display(movie)

,wiki_movieID,freebase_movieID,name,release_date,box_office_revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,<NA>,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,<NA>,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,<NA>,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,<NA>,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,<NA>,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,<NA>,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,<NA>,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,<NA>,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,<NA>,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

A quick visual insight can be done to get information gain. We see that some variables are textual (i.e. `movie_freebase_ID`, `actor_name`, ...), categorical (i.e. `actor_gender`) or numerical (i.e. `actor_height`, `actor_age_movie_release`, ...).

Let's have a more meaningful insight of our current data.

In [3]:
# TODO : Finish the insight function to give a better display of information about dataframe
insight(movie)

                              class
wiki_movieID          <class 'int'>
freebase_movieID      <class 'str'>
name                  <class 'str'>
release_date          <class 'str'>
box_office_revenue    <class 'int'>
runtime             <class 'float'>
languages             <class 'str'>
countries             <class 'str'>
genres                <class 'str'>

In [4]:
movie_ = movie[~movie.isnull().any(axis=1)]
for column in movie_.columns:
    data_types = movie_[column].apply(type)
    unique_data_types = data_types.unique()
    print(f"Column '{column}' has unique data types: {unique_data_types}")

Column 'wiki_movieID' has unique data types: [<class 'int'>]
Column 'freebase_movieID' has unique data types: [<class 'str'>]
Column 'name' has unique data types: [<class 'str'>]
Column 'release_date' has unique data types: [<class 'str'>]
Column 'box_office_revenue' has unique data types: [<class 'int'>]
Column 'runtime' has unique data types: [<class 'float'>]
Column 'languages' has unique data types: [<class 'str'>]
Column 'countries' has unique data types: [<class 'str'>]
Column 'genres' has unique data types: [<class 'str'>]

We see that only few movies (8,401) have information about their box office revenue. Since it is an important metric for us, we will only be able to analyze these movies. One solution would be to complete the dataframe with another dataset.

## Clean/Enrich Data

We have seen above that needed attributes are not given. We then need to retrieve them via external datasets. To do so, we use a free to use API ([TMDB](https://www.themoviedb.org/?language=fr)) to enrich our movies' information. Also, some important features are missing in some observation, we then drop movies not containing the needed information.

A specific script has been created to be run once and create our `clean_enrich_movie.csv` dataset. Go to `enrich_data.py` and its linked library `tmdb/tmdb.py` for more explanation on how we retrieved these information. Please note that a personal API key is needed to successfully run the script ([create key](https://developer.themoviedb.org/reference/intro/getting-started)). Make sure to create file `.env` with your API bearer token using the `.env_example` as template.

In [5]:
# Load the cleaned and enriched data set (created via enrich_data.py script)
enhanced_movie = pd.read_pickle('dataset/clean_enrich_movies.pickle')

# Display the loaded dataframe
display(enhanced_movie)

,name,release_date,box_office_revenue,countries,genres,tmdb_id,composers
0,Avatar,2009,2782275172,"[United States of America, United Kingdom]","[Thriller, Science Fiction, Adventure, Compute...",19995,"[Composer(id=1729, name='James Horner', birthd..."
1,Titanic,1997,2185372302,[United States of America],"[Tragedy, Costume drama, Historical fiction, A...",597,"[Composer(id=1729, name='James Horner', birthd..."
2,The Avengers,2012,1511757910,[United States of America],"[Science Fiction, Action]",24428,"[Composer(id=37, name='Alan Silvestri', birthd..."
3,Harry Potter and the Deathly Hallows – Part 2,2011,1328111219,"[United States of America, United Kingdom]","[Drama, Mystery, Fantasy, Adventure]",12445,"[Composer(id=2949, name='Alexandre Desplat', b..."
4,Transformers: Dark of the Moon,2011,1123746996,[United States of America],"[Alien Film, Science Fiction, Action, Adventure]",38356,"[Composer(id=18264, name='Steve Jablonsky', bi..."
...,...,...,...,...,...,...,...
8322,Frankie and Alice,2010,10670,[Canada],"[Biography, Drama]",55061,"[Composer(id=70789, name='Andrew Lockington', ..."
8323,Fighting Tommy Riley,2005,10514,[United States of America],"[LGBT, Sports, Drama, Indie, Boxing]",47534,NaN
8324,Logan,2010,10474,[United States of America],"[Family Film, Drama, Comedy]",44010,NaN
8325,GhettoPhysics,2010,10200,[],"[Political cinema, Documentary]",-1,NaN
8326,"Hugh Hefner: Playboy, Activist and Rebel",2010,10000,[Canada],"[Culture & Society, Biography, Media Studies, ...",-1,NaN

Let's have a more deep look at this new dataframe. We display several statistical values to better understand the different columns of the data.

In [6]:
# TODO remove after, temporary stats about fetched composers
insight_clean_enrich(enhanced_movie)

There is 30.92% of nan composers

Considering the first composer of the list if multiple have been returned for a movie, we can compute the following statistics on the retrieved data:

	 - There is 0.00% of nan name for composers
	 - There is 18.08% of nan birthday for composers
	 - There is 0.00% of nan gender for composers
	 - There is 72.24% of nan homepage for composers
	 - There is 22.93% of nan place of birth for composers
	 - There is 100.00% of nan first appearance in movie for composers

/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:124: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_name = composers_no_na.agg(lambda c: c[0].name)
/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:125: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_birthday = composers_no_na.agg(lambda c: c[0].birthday)
/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:126: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_gender = composers_no_na.agg(lambda c: c[0].gender)
/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:127: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_homepage = composers_no_na.agg(lambda c: c[0].homepage)
/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:128: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_place_of_birth = composers_no_na.agg(lambda c: c[0].place_of_birth)
/Users/pauloribeiro/Desktop/EPFL/Master Data Science/Semestre 1/Applied Data Analysis/ada-2023-project-learningthesecretsofdata/helpers.py:129: FutureWarning: using <function insight_clean_enrich.<locals>.<lambda> at 0x115ba2cb0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  composers_no_na_first_appearance_in_movie = composers_no_na.agg(lambda c: c[0].date_first_appearance)

## Results Expected

Let's try to explain what are the main plots we want to bring to our readers. Do we have in mind also to have a interactive plot, and so on ?

In [7]:
pass

In [2]:
import pandas as pd
test=pd.read_csv('test')
test_without = pd.read_csv('test_without')

nb_test = test['box_office_revenue'].isna().sum()
nb_test_without = test_without['box_office_revenue'].isna().sum()
print(f'Number of movies without box office revenue : {nb_test}')
print(f'Number of movies without box office revenue (without enrich) : {nb_test_without}')

Number of movies without box office revenue : 4172
Number of movies without box office revenue (without enrich) : 4431